.sumdelbtn {
  width: 100%;
}
.dissumdelbtn {
  width: 100%;
}
.addbtn {
  width: 110px;
}
.disableddelete {
  color: gray;
  text-decoration: line-through;
  display: flex;
  gap: 2px;
  cursor: not-allowed;
}
.delbtn {
  display: flex;
  cursor: pointer;
  gap: 2px;
}
.trashicon {
  margin-top: 4px;
}
.savebtn {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .dissumdelbtn {
    width: 100%;
  }
}
