.navbar_container {
  padding: 0 10px 0 20px;
  margin-right: 10px;
  max-width: 20%;
}

.navbar {
  min-height: rem(200px);
  display: flex;
  flex-direction: column;
  min-width: 15vw;
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  width: rem(20px);
  height: rem(20px);
  margin-top: 2px;
}

.sp_navbar_container {
  position: absolute;
  bottom: -40px;
  left: 16px;
}
.sp_navbar_title {
  color: blue;
  font-size: 0.8rem;
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.navlink {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .navbar {
    margin-top: 1rem;
  }
  .delbtncontainer {
    margin-top: 1rem;
  }
}
