.container {
  width: 84%;
  margin: 0 auto;
}
.funcbar {
  width: 50%;
  margin-left: auto;
  background-color: rgb(0, 153, 255, 0.8);
  border-radius: 10px;
  color: white;
  padding: 4px 0 4px 0;
  margin-bottom: 20px;
}
.innner_funcbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.card_wrapper {
  max-width: 1300px;
  margin: 0 auto 50px auto;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  gap: 20px;
}
.card {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
}
/* .carditem {
  height: 200px;
  width: inherit;
} */
.cardtitle {
  text-align: center;
  word-break: break-all;
}
.cardtext {
  min-height: 78px;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /*行数を指定 */
  overflow: hidden;
  word-break: break-all;
}
.cardtag {
  height: 40px;
  display: flex;
  gap: 2px;
}
.nomemo {
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .funcbar {
    width: 100%;
  }
  .card_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 96%;
  }
  .funcbar {
    padding: 8px 0 8px 0;
  }
  .innner_funcbar {
    width: 90%;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  .newlink {
    margin-bottom: 6px;
    font-size: 0.9rem;
  }
  .newicon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
  }
  .card_wrapper {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
    max-width: 100%;
    min-width: 250px;
  }
}
